body {
  --button-bg-color: #f4f4fd;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
